{{> header }}

   {{> navbar }}

    <center>
       <h1>Ecuador</h1>

       <br>

       <img src="ecuador.png" height="200" width="200">
    </center>

    <br>

    <p>Ecuador es un país con un gran atractivo cultural, a su vez contiene un una inmensa
       fauna y flora, además de contar con grandes alimentos típicos de cada región, 
       su gente es muy pero muy amable y lleno de valores. 
    </p>

    <p>Si alguna vez te encuentras viajando por el mundo debes visitar Ecuador, 
       es una experiencia única que solo se puede vivir una vez en la vida. Muchas personas
       recomiendan este país por todas las diversas actividades y lugares que se pueden 
       visitar en el tiempo que se decida estar.
    </p>

    {{> footer}}